* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  margin: 2rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid lightgray;
}

section {
  width: 40%;
  padding: 1.5rem;
  background-color: rgb(237, 251, 237);
}
